<h1>Contact Us</h1>
<form>
    <div class="form-group">
        <label for="txtName">Name</label>
        <input type="text" name="txtName" id="txtName" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="txtPhone">Phone</label>
        <input type="text" name="txtPhone" id="txtPhone" placeholder="Enter phone">
    </div>
    <div class="form-group">
        <label for="txtMessage">Message</label>
        <textarea name="txtMessage" id="txtMessage" rows="5" placeholder="Enter message"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit" onclick="return validateForm();">Submit</button>
        <button class="btn btn-secondary" type="reset">Reset</button>
    </div>
</form>